
@media (width <= 900px) 
{
/*How it Works Mobile */
	#how-it-works
	{
		font-size: 20px !important;
        line-height: 27.32px !important;
        text-align: start !important;
        margin: 0 0  5px 0 !important;
	
	}
.howworks
	{
		padding: 0px 16px !important;
		display: block !important;
	}
.howworks > div div:nth-of-type(2) h2
	{
		font-size: 14px !important;
        font-weight: 700 !important;
        line-height: 21px !important;
        margin-bottom: 0 !important;
     
	}
	.howworks > div div:nth-of-type(2) p 
	{
		font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 16.8px !important;
  
	}
/* Beutiful Homes Section */
	#asian-paints-beautiful-homes-painting
	{
		font-weight: 700 !important;
    	font-size: 22px !important;
    	line-height: 24px !important;
    	letter-spacing: normal !important;
		padding: 0 20px;
	}
	
}


l.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}
  .columns > div > div {
    order: unset;
  }
@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
	  display:flex;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width <= 900px) {
.chooseus
	{
		overflow-x: auto;
    scrollbar-width: none;
    text-align: center;
		padding: 30px 0px !important;
	}
	.chooseus > div 
	{
		flex-direction: row;
		padding: 0 30px 0 12px
	}
	.chooseus > div > div 
	{
		width:115px;
		margin:0 5px;
	}
	 #we-help-you-with
	{
		margin:0;
		font-weight: 700;
   	 font-size: 22px;
		line-height: 28px;	
}
	.section.columns-container.video-container .columns-wrapper .columns > div 
	{
		flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
		display:flex;
		gap:24px;
	}
	.section.columns-container.video-container .columns-wrapper .columns > div > div
	{
		flex: 1 1 45%;
	}
	.section.columns-container.video-container .columns-wrapper .columns > div > div p:nth-of-type(1)
	{
		margin:0;
	}
	.section.columns-container.video-container .columns-wrapper .columns > div > div p:nth-of-type(2)
	{
		font-size: 12px;
        letter-spacing: .6px;
        line-height: 1.08;
	}
	.section.columns-container.video-container .columns-wrapper .columns > div > div p:nth-of-type(3)
	{
		font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
		    line-height: 22px;
	}
	.video 
	{
		max-width:90% !important;
	}
}
.text-container .text-wrapper
{
	    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    max-width: 100%;
}
.section.text-container .text-wrapper .standard p 
{
	font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
line-height: 22px;
}



.section.columns-container .columns-wrapper
{
	max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
@media (width <= 900px)
{
	.section.columns-container .columns-wrapper .telephone > div
	{
			height:auto !important;
		flex-direction: row !important;
				gap:20px !important;
		position:relative;
		display:flex;
	}
	.section.columns-container .columns-wrapper .telephone > div div:nth-of-type(3)
	{
		position:absolute;
		left: 50%;
    bottom: -2%;

		

	}
	.section.columns-container .columns-wrapper .telephone > div div p
	{
		font-size:14px;
		line-height:22px;
	}

}
.section.columns-container .columns-wrapper .telephone > div
{
	gap:32px;
background: #fefefe;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12);
height:127px;
}

.section.columns-container .columns-wrapper .telephone > div .columns-img-col p
{
	display: flex;
}

.section.columns-container .columns-wrapper .telephone > div .columns-img-col p img {
	margin-left: 19.5px;
    margin-right: 12.5px;
    width: 24px;
    height: 24px;
}

.section.columns-container .columns-wrapper .telephone > div .columns-img-col:nth-of-type(1) img{
		width:auto;
		height:auto
}
.chooseus
{
        padding: 50px 0;
        padding-bottom: 16px;
   	 background-color: #f8f8f8;
    	font-size: 13px;
    	position: relative;
 text-align: center;
}

.chooseus > div 
{
       display: inline-flex;
    align-items: flex-start;
    justify-content: left;
    padding: 0 30px;
    text-align: center;
}

#why-choose-us 
{
	    font-size: 30px;
    	line-height: 34px;
    	text-align: center;
    	margin: 20px;
    font-weight: 700;
}

.chooseus > div div img
{
	border-radius:100px;
}

.chooseus > div div p
{
	font-size: 13px;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 500;
        color: #838383;
}
#choose-a-plan-that-best-suits-you
{
	font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 35.2px;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.bestsuits  > div{
	    gap: 38px;
    padding: 0 45px;
    justify-content: center;
}
.bestsuits  div:nth-of-type(2) 
{
	align-items:unset
}

.bestsuits > div .columns-img-col 
{
	 background-color: #FFFF;
    box-shadow: 1px 6px 25px -4px #10182829;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: fit-content;
    width: 322px;
    border-bottom: 1px solid rgba(67, 26, 128, 0.2);
    padding: 20px 0 30px 30px;
}
.bestsuits > div .columns-img-col:nth-of-type(1)
{
	border-top: 10px solid #7ec781;
}
.bestsuits > div .columns-img-col:nth-of-type(2)
{
	border-top: 10px solid #e8bd68;
}
.bestsuits > div .columns-img-col:nth-of-type(3)
{
	    border-top: 10px solid #373d65;
}
.bestsuits > div .columns-img-col p 
{
	    display: flex;

      
}


.bestsuits > div .columns-img-col img 
{
	border-radius: 50%;
    background: #7ec781;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bestsuits > div .columns-img-col strong
{
font-weight: 800;
    font-size: 32px;
    color: #232426;
    /* padding-top: 65px; */
    transform: translate(-23px, 15px);
    width: fit-content;
    margin: 0;
}

.bestsuits > div .columns-img-col:nth-of-type(2) p strong
{
	color: #e8bd68
}
.bestsuits > div .columns-img-col:nth-of-type(3) p strong
{
	color: #373d65
}

.bestsuits  div:nth-of-type(2) div
{
	box-shadow: 1px 6px 25px -4px #10182829;
    padding: 20px 0 30px 30px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.bestsuits  div:nth-of-type(2) div p{
	margin:0;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #75787b;
}
.bestsuits  div:nth-of-type(2) div ul
{
	padding:0;
}
.bestsuits  div:nth-of-type(2) div ul li 
{
	font-size: 14px;
    font-weight: 400;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    column-gap: 11px;
}
.bestsuits  div:nth-of-type(2) div ul li:before 
{
content: "";
    background-image: url(https://www.asianpaints.com/etc.clientlibs/apcolourcatalogue/components/content/choosePlan/clientlibs/resources/images/black-tick.svg);
    width: 8px;
    height: 6px;
    background-repeat: no-repeat;
    display: block;
}
/* Asian Paints Beautiful Homes Painting */

.beautifulhome
{
	    background-color: #f8f8f8;
}

.beautifulhome > div div:nth-of-type(2) a 
{
	    width: auto;
    cursor: pointer !important;
    color: #fff;
    display: inline-block;
    background: #431a80;
    border: 1px solid #431a80;
    line-height: 16px;
    padding: 16px 20px;
    width: 270px;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: .86px;
    text-align: center;
    font-weight: 600;
}




/* How It Works */


#how-it-works
{
	font-size: 32px;
    font-weight: 800;
    line-height: 35.2px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

.howworks
{
  	padding: 60px 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 35px;
    column-gap: 20px;
}
.howworks > div 
{
	    align-items: flex-start;
    flex-basis: 30%;
    display: flex;
    flex-grow: 1;
    flex-direction: inherit;
    gap: unset;
}

.howworks > div .columns-img-col 
{
	    min-width: 15%;
    padding-top: 7px;
flex: none;
}

.howworks > div .columns-img-col img 
{
	object-fit: contain;
    height: auto;
    width: auto;
}
.howworks > div div:nth-of-type(2)
{
	margin-left: 25px;
}

.howworks > div div:nth-of-type(2) h2 {
font-size: 20px;
    font-weight: 800;
    line-height: 27.32px;
    margin-bottom: 6px;
    color: #3b3d40;
    margin-top: 0;

}

.howworks > div div:nth-of-type(2) p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    color: #53565a;
    margin-top: 0;
}
