.tabs .tabs-list {
  display: flex;
/*   gap: 0.5ch; */
    gap: unset;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
    /* Added by narayana */
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: solid 1px
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
/*   flex: 0 0 max-content; */
/*   margin: 0; */
/*   border: 1px solid #dadada; */
  border-radius: 0;
/*   padding: 0.5em; */
/*   background-color: var(--light-color); */
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
/* Added by Narayana N*/
     flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    border: unset;
    background-color: unset;
    margin: 0px 20px;
    padding: 10px 0px;
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
/*   border-bottom: 1px solid var(--background-color); */
  background-color: var(--background-color);
  cursor: initial;
    /*Added by Narayana */
     color:#1b48c1 ;
    border-bottom: 2px solid #1b48c1 ;
}

.tabs .tabs-panel {
/*   margin-top: -1px; */
/*   padding: 24px; */
/*   border: 1px solid #dadada; */
  overflow: auto;
/* Added by Narayana */
    margin-top: unset;
    border: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 20px 0px 20px;
    gap: 30px;
}
/*Added by Narayana N */
.tabs .tabs-panel div 
{
    background: #f5f7f9;
    border-radius: 10px;
    text-align: left;
/*     padding: 0px 20px; */
}
/* Added by Narayana N */
.tabs .tabs-panel div img 
{
    width:100%;
    margin:auto;
}
/* Added by Narayana N */ 
.tabs .tabs-panel div p:not(:first-of-type) 
{
    padding:0px 20px;
    margin: 10px 0 !important;
}
.tabs .tabs-panel div p:first-of-type
{
     margin:0 !important;;
}
.tabs .tabs-panel div p:nth-of-type(2)
{
    font-size:25px;
    line-height:30px;
    font-weight:700;  
    color: #2c353d;
}
.tabs .tabs-panel div p:nth-of-type(3)
{
    font-size:15px;
    line-height:18px;
    font-weight:400; 
    color: #4b535c;
}
.tabs .tabs-panel div p:not(:first-of-type):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:last-of-type):not(.button-container)
{
    position:relative;
    font-size:15px;
    line-height: 18px;
    font-weight:400;
    color: #4b535c;
        padding: 0px 40px;
}
.tabs .tabs-panel div p:not(:first-of-type):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:last-of-type):not(.button-container):before
{
       display: inline-block;
    height: 12px;
    width: 6px;
    border-bottom: 2px solid #1B48C1;
    border-right: 2px solid #1B48C1;
    transform: rotate(45deg);
    content: '';
    position: absolute;
    top: 2px !important;
    left: 19px;
}
.tabs .tabs-panel div p.button-container
{
    margin-top: 50px !important;
}
.tabs .tabs-panel div p.button-container a.button
{
    margin: 0;
    background: none;
    border: solid 1px #d4212a;
    color: #d4212a;
    font-size:16px;
    line-height:16px;
    font-weight:400;
    padding:10px 15px;
}
.tabs .tabs-panel div p:last-of-type 
{
    background: white !important;
    margin-bottom: 0px !important;
    border: solid 1px #d2d4db;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:55px;
    color: #6a717c;
    font-size: 15px;
    line-height:18px;
    font-weight:400;
    position:relative;
}
.tabs .tabs-panel div p:last-of-type:before {
    content: "";
    background-image: url(https://www.yesbank.in/_cache_be79/_compdelivery/ybl-sa-accounts-type-overview/assets/images/offers.svg);
    position: absolute;
    object-fit: fill;
    width: 30px;
    height: 30px;
    display: block;
    left: 20px;
    top: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline;
}
.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
