.faq-container .faq-wrapper
{
    max-width:100%;
    padding:0;
    margin:0 100px;
}
.faq-container .faq-wrapper .faq.block > div  div:nth-of-type(2)
{
    display:none;
}
.faq-container .faq-wrapper .faq.block > div 
{
    border-bottom: 1px solid #cacbcc;
    padding: 30px 0;
}

.faq-container .faq-wrapper .faq.block > div h3
{
    cursor:pointer;
    width: 85%;
    font-size: 18px;
    font-weight: 800;
    line-height: 23.4px;
    margin: 0;
}
.clickparent
{
    display: flex;
    justify-content: space-between;
}
.clickArrow:before 
{
    content: "";
    background-image : url(https://www.asianpaints.com/etc.clientlibs/apcolourcatalogue/components/content/faq/clientlibs/resources/images/plus-icon.svg);
    width: 13px;
    height: 13px;
    background-position: 50%;
    position: absolute;
    background-repeat: no-repeat;
}
