footer {
/*   background-color: var(--light-color); */
/*     background: #002EDC; */
    background : none;        
    font-size:14px;
    line-height:19px;
    font-weight:400;
/*   font-size: var(--body-font-size-xs); */
}
footer .default-content-wrapper:nth-of-type(1)
{
    padding: 0 10%;
    
}
footer .default-content-wrapper:nth-of-type(2)
{
    text-align:center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    
}
footer .default-content-wrapper:nth-of-type(1) p 
{
    tex-align:left; 
}
footer .default-content-wrapper:nth-of-type(1) p:nth-of-type(1)
{
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-bottom:10px;
}
footer .default-content-wrapper:nth-of-type(1) p:nth-of-type(2)
{
    font-size: 11px;
    line-height: 23px;
    color: #ffffff;
    letter-spacing: 0.2px;
    font-weight: 400;
}
footer .default-content-wrapper:nth-of-type(2) p a 
{
    margin:0px 12px;
}
footer .default-content-wrapper:nth-of-type(2) p
{
    margin-bottom:10px !important;
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(3) 
{
    padding-bottom: 30px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(4) 
{
    color: #ffffff;
    padding-bottom : 15px;
    
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(5) 
{
    color: #ffffff;
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(4)  img 
{
    width : 30px;
    height:auto;
    vertical-align: middle;
}
footer .default-content-wrapper p a 
{
     color:#ffffff;
}
footer .columns-wrapper 
{
    padding-top: 30px;
}
footer .columns-wrapper p  
{
   color: #86CBFF;
    margin-bottom: 12px !important;
    font-size: 14px;
    line-height: 19px;
}
footer .columns-wrapper a 
{
     color: #86CBFF;
}
footer .columns.footercustom > div > div
{
    align-self: flex-start;
}
footer .columns.footercustom > div > div p:nth-of-type(1)
{
     color:#ffffff !important;
}

#download-iris-by-yes-bank , #the-next-gen-mobile-banking-app , #customer-care
{
    margin-top : 0;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}
footer .columns.footercustom > div > div:last-of-type p:first-of-type 
{
    display: flex;
}
footer .columns.footercustom > div > div ul 
{
    list-style : none;
}
    footer .columns.footercustom > div > div ul li 
    {
         margin-top : 0;
        margin-bottom: 12px;
         color: #86CBFF;
    }
    footer .columns.footercustom > div > div ul li img 
    {
      margin-bottom: 12px;
    }
footer .footer > div {
    /*   margin: auto;
      max-width: 1200px;
      padding: 40px 24px 24px; */
    padding: 0;
margin:0;
max-width: 100%;
    width: 100%;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
/*     padding: 40px 32px 24px; */
  }

        .footer .section.columns-container .columns-wrapper
{
max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0px 4% 20px 40px;
    background: #2f2f2f;
}  
  .footer .section.columns-container .default-content-wrapper:nth-of-type(1) {
   background: #2f2f2f;
	   padding: 40px 32px 24px;
	}
	.footer .section.columns-container .default-content-wrapper:nth-of-type(1) p {
		    font-size: 16px;
    font-weight: 800;
    line-height: 21.86px;
    color: #fff;
    padding-top: 20px;
		padding-bottom:20px;
		margin:0;
	}
    .footer .section.columns-container .default-content-wrapper:nth-of-type(2) {
    background-color: #333;
	}
	.footerasianpaint > div {

		display: flex;
        justify-content: space-between;
	}
	.footerasianpaint > div div
	{
		    background: #2f2f2f;
    align-items: center;
    display: flex;
    justify-content: center;
		padding: 12px 15px;
        flex: 0 0 12.7%;
        border-bottom: 0;
	}
}

    
