/* fr-footer */
footer.fr-footer .footer .section.columns-container .default-content-wrapper:nth-of-type(1) {
   background: #2f2f2f;
	}
@media (width <= 900px)
{
	footer.fr-footer .footer .section.columns-container .default-content-wrapper:nth-of-type(1) {
   		padding: 18px 20px !important;
	}
}
   footer.fr-footer  .footer .section.columns-container .columns-wrapper
{

    background: #2f2f2f;
} 
footer.fr-footer .footer .section.columns-container .columns-wrapper:nth-of-type(3) {
   		 background: #333333;
	
	}
footer.fr-footer{
	background : none !important; 
	padding: 0 !important;
}
  footer.fr-footer .footer .section.columns-container .columns-wrapper
{

    padding: 0px 4% 20px 40px !important;
	margin : 0 !important;
} 



footer {
/*   background-color: var(--light-color); */
    background: #002EDC;       
    font-size:14px;
    line-height:19px;
    font-weight:400;
	padding: 32px 0 25px;
/*   font-size: var(--body-font-size-xs); */
}
footer .default-content-wrapper:nth-of-type(1)
{
    padding: 0 10%;
    
}
footer .default-content-wrapper:nth-of-type(2)
{
    text-align:center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    
}
footer .default-content-wrapper:nth-of-type(1) p 
{
    tex-align:left; 
}
footer .default-content-wrapper:nth-of-type(1) p:nth-of-type(1)
{
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-bottom:10px;
}
footer .default-content-wrapper:nth-of-type(1) p:nth-of-type(2)
{
    font-size: 11px;
    line-height: 23px;
    color: #ffffff;
    letter-spacing: 0.2px;
    font-weight: 400;
}
footer .default-content-wrapper:nth-of-type(2) p a 
{
    margin:0px 12px;
}
footer .default-content-wrapper:nth-of-type(2) p
{
    margin-bottom:10px !important;
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(3) 
{
    padding-bottom: 30px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(4) 
{
    color: #ffffff;
    padding-bottom : 15px;
    
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(5) 
{
    color: #ffffff;
}
footer .default-content-wrapper:nth-of-type(2) p:nth-of-type(4)  img 
{
    width : 30px;
    height:auto;
    vertical-align: middle;
}
footer .default-content-wrapper p a 
{
     color:#ffffff;
}
footer .columns-wrapper 
{
    padding-top: 30px;
}
footer .columns-wrapper p  
{
   color: #86CBFF;
    margin-bottom: 12px !important;
    font-size: 14px;
    line-height: 19px;
}
footer .columns-wrapper a 
{
     color: #86CBFF;
}
footer .columns.footercustom > div > div
{
    align-self: flex-start;
}
footer .columns.footercustom > div > div p:nth-of-type(1)
{
     color:#ffffff !important;
}

#download-iris-by-yes-bank , #the-next-gen-mobile-banking-app , #customer-care
{
    margin-top : 0;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}
footer .columns.footercustom > div > div:last-of-type p:first-of-type 
{
    display: flex;
}
	footer .columns.footercustom > div > div:last-of-type ul 
	{
		padding:0;
		
	}
/* 	footer .columns.footercustom > div > div:last-of-type ul li:last-of-type img:nth-of-type(2)
	{
		width:40%;
	} */
footer .columns.footercustom > div > div ul 
{
    list-style : none;
}
    footer .columns.footercustom > div > div ul li 
    {
         margin-top : 0;
        margin-bottom: 12px;
         color: #86CBFF;
    }
    footer .columns.footercustom > div > div ul li img 
    {
      margin-bottom: 12px;
    }
footer .footer > div {
    /*   margin: auto;
      max-width: 1200px;
      padding: 40px 24px 24px; */
    padding: 0;
margin:0;
max-width: 100%;
    width: 100%;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
/*     padding: 40px 32px 24px; */
  }

        .footer .section.columns-container .columns-wrapper
{
max-width: 100%;
    width: 100%;
    margin: 30px 0 0 0;
	box-sizing: border-box;
	padding: 0 10%;
   
}  
  .footer .section.columns-container .default-content-wrapper:nth-of-type(1) {

	   padding: 40px 32px 24px;
	}
	.footer .section.columns-container .default-content-wrapper:nth-of-type(1) p {
		    font-size: 16px;
    font-weight: 800;
    line-height: 21.86px;
    color: #fff;
    padding-top: 20px;
		padding-bottom:20px;
		margin:0;
	}
 
	.footerasianpaint > div {

		display: flex;
        justify-content: space-between;
	}
	.footerasianpaint > div div
	{
		    background: #2f2f2f;
    align-items: center;
    display: flex;
    justify-content: center;
		padding: 12px 15px;
        flex: 0 0 12.7%;
        border-bottom: 0;
	}
	.footerasianpaint > div div img {
		height:auto;
	}
	.footerbottom .columns-img-col p 
	{
		display:flex;
		justify-content:flex-end;
	}
	.footerbottom .columns-img-col p picture 
	{
		margin: 20px 10px !important;
	}
	.footerbottom .columns-img-col p img {
		
    display: inline-block;
		height:auto;
	}
		.footerbottom {
		
		        max-width: 1140px;
		width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;		
	}
	.footerbottom > div div:nth-of-type(1){
		        flex: 0 0 33.333333%;
        max-width: 33.333333%;	
	}
	.footerbottom > div div:nth-of-type(1) p 
	{
		    color: #fff !important;
		background: url(https://www.asianpaints.com/etc.clientlibs/apcolourcatalogue/clientlibs/clientlib-global/resources/images/copyright-icon.webp) no-repeat 0;
    font-size: 13px;
    line-height: 100%;
    padding-left: 15px;
    margin-top: 20px;
	}
	.footerbottom > div div:nth-of-type(2) {
		        flex: 0 0 66.666667%;
        max-width: 66.666667%;
	}
}
.footer .section.columns-container .columns-wrapper:nth-of-type(3) {

	padding: 9px 0 !important;
	
	}


    
